img{
    display:block;
    max-height: 100px;
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
}

h2{
    text-align:center;
    color:blue;
}

textarea{
    resize:none;
    vertical-align:middle;
}

table, th, td {
  border: .5px solid black;
}

table{
     border-collapse: collapse;
     width:1000px;
     margin-left:150px;
}

h4{
    margin-left:125px;
}

label{
    margin-left:125px;
}